* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 1.6;
  text-align: center;
}

html {
  min-height: 100vh;
  background-size: cover;
  background: url('../../assets/nice.jpeg') no-repeat center center fixed;
}

body {
  display: flex;
  flex-direction: column;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: yellow;
}

a:active {
  color: red;
}

h1, h2 {
  text-transform: capitalize;
}

header {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 10vh;
}

main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1vw;
}