.poss {
  display: flex;
  flex-direction: column;
}

.possBlurb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  margin: 1vh auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}